<div>
  <header>
    <h1><%= @project.name %></h1>
  </header>

  <header>
    <h2><%= @ticket.name %></h2>
  </header>

  <%= simple_format(@ticket.description) %>

  <ul class="actions">
    <li><%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "edit"%></li>
    <li><%= link_to "Delete Ticket", [@project, @ticket], method: :delete, data: { confirm: 'Are you sure?'}, class: "delete" %></li>
  </ul>
</div>

<table>
  <tr>
    <th>Author:</th>
    <td><%= @ticket.author.email %></td>
  </tr>
  <tr>
    <th>Created: </th>
    <td><%= time_ago_in_words(@ticket.created_at) %> ago</td>
  </tr>
</table>

<div class="comments">
  <header>
    <h3>Comments</h3>
  </header>

  <% comments = @ticket.comments.persisted.ordered %>
  <% if comments.any? %>
    <%= render comments %>
  <% else %>
    <p>There are no comments for this ticket
  <% end %>

  <%= render "comments/form", ticket: @ticket, comment: @comment %>
</div>

